# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/dx-game-engine/v16
/Debug
/console/Debug
/game/Debug
/game/x64/Debug
/x64/Debug
/.vs
/console/x64/Debug
/game/x64/Release
/x64/Release
/x64
/dx-game-engine0217.zip
